<f:layout name="eEducation" />
	
<f:section name="content">
<!--TYPO3SEARCH_begin-->

<div class="headerimg headerimgfilter">
	<f:format.raw>{content_10}</f:format.raw>
</div>

<div class="newsbar-out">
	<div class="newsbar container-fluid ctn-newsfilter">
		<div class="row">
			<div class="col-xs-9 newsbar-search">
				   <!-- <form class="form-inline">
					   <button type="submit" class="btn btn-default btn-lg btn-searchbutton"><i class="icon ion-ios-search-strong"></i></button>
					   <div class="form-group">
						   <input type="text" class="form-control" id="Suche" placeholder="Suche">
					   </div>
				   </form>  -->
			</div>
			<div class="col-xs-3 newsbar-filter">
				<a href="#menu-toggle" id="menu-toggle"><i class="icon ion-ios-settings-strong"></i> <span class="newsbar-filtertxt">Filter</span></a>
			</div>
		</div>
	</div>
</div>

<div id="wrapper" class="toggled">
	
	    <!-- Filter -->
        <div id="sidebar-wrapper">
            <form class="edufilter">
	            <div class="edufiltergroup">
		            <legend><a class="collapsepoint" data-toggle="collapse" href="#etapasfilter1" aria-expanded="false" aria-controls="etapasfilter1">Handlungsdimension (Bloomsche Handlungsebenen) <i class="icon ion-chevron-down"></i></a></legend>
		            <div class="collapse in" id="etapasfilter1">
			            <div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    Anwenden/Gestalten
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    Wiedergeben/Verstehen
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    Reflektieren/Bewerten
						  </label>
						</div>
		            </div>
	            </div>
	            <div class="edufiltergroup">
		            <legend><a class="collapsepoint" data-toggle="collapse" href="#etapasfilter2" aria-expanded="false" aria-controls="etapasfilter2">Fächer <i class="icon ion-chevron-down"></i></a></legend>
		            <div class="collapse in" id="etapasfilter2">
			            <div class="form-group">
						 	<select multiple class="form-control filter-input">
							  <option></option>	
							  <option>AIM bzw. OMAI</option>
							  <option>AINF, AIM, KOMD</option>
							  <option>AINM (Angewandtes Informationsmanagement)</option>
							  <option>Angewandte Informatik, Wirtschaftsinformatik, Medieninformatik</option>
							  <option>Betriebswirtschaftliche Übungen, BWUF, BWRR, BKBC, BPQM, Wirtschaftsinformatik, Übungsfirma, Betriebswirtschaftslehre</option>
							  <option>Englisch</option>
							  <option>Französisch+IFOM/OMAI</option>
							  <option>Geografie</option>
							  <option>Führung</option>
							  <option>GWK, INF</option>
							</select>
						</div>
		            </div>
	            </div>
	            <div class="edufiltergroup">
		            <legend><a class="collapsepoint" data-toggle="collapse" href="#etapasfilter3" aria-expanded="false" aria-controls="etapasfilter3">Schulstufe <i class="icon ion-chevron-down"></i></a></legend>
		            <div class="collapse in" id="etapasfilter3">
			            <div class="form-group">
						 	<select multiple class="form-control filter-input">
							  <option></option>
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							  <option>6</option>
							  <option>7</option>
							  <option>8</option>
							  <option>9</option>
							  <option>10</option>
							  <option>11</option>
							  <option>12</option>
							  <option>13</option>
							</select>
						</div>
		            </div>
	            </div>
	            <div class="edufiltergroup">
		            <legend><a class="collapsepoint collapsed" data-toggle="collapse" href="#etapasfilter4" aria-expanded="false" aria-controls="etapasfilter4">Datum <i class="icon ion-chevron-down"></i></a></legend>
		            <div class="collapse" id="etapasfilter4">
			              <div class="form-group">
							    <label class="sr-only" for="datefrom">Von</label>
							    <div class="input-group">
								      <input type="text" class="form-control filter-input" id="datefrom" placeholder="Von">
								      <div class="input-group-addon"><i class="icon ion-calendar"></i></div>
							    </div>
						  </div>
						  <div class="form-group">
							    <label class="sr-only" for="dateto">Bis</label>
							    <div class="input-group">
								      <input type="text" class="form-control filter-input" id="dateto" placeholder="Bis">
								      <div class="input-group-addon"><i class="icon ion-calendar"></i></div>
							    </div>
						    
						  </div>
		            </div>
	            </div>
            </form>
        </div><!-- /#sidebar-wrapper -->
        <!-- / Filter -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
						
			<!-- #### Template eTapas #### -->
			
			
			

			<div class="row eedetapas">
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-3">
							<h3>[kurzbezeichnung]</h3>
							<div class="eedetapa-subject">[faecher]
								<br />Schulstufe: [schulstufe]</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Wiedergeben/Verstehen"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-3.png" alt="Verstehen" title="Verstehen" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-2">
							<h3>Erstellung und Präsentation von Collagen und Webseiten</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Anwenden/Gestalten"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-2.png" alt="" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-1">
							<h3>Quadratische Gleichungen</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Reflektieren/Bewerten"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-1.png" alt="" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-2">
							<h3>Einstieg in die Bildbearbeitung</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Anwenden/Gestalten"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-2.png" alt="" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-1">
							<h3>Vocabulary work with google phrase search</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Reflektieren/Bewerten"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-1.png" alt="" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-3">
							<h3>Spielerische Einführung ins Programmieren</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Wiedergeben/Verstehen"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-3.png" alt="Verstehen" title="Verstehen" /></div>
						</div>
					</a>
				</div>

				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-3">
							<h3>Kompetenzorientierte Unterrichtssequenz Urheberrecht - Lizenzierung</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Wiedergeben/Verstehen"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-3.png" alt="Verstehen" title="Verstehen" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-2">
							<h3>Erstellung und Präsentation von Collagen und Webseiten</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Anwenden/Gestalten"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-2.png" alt="" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-1">
							<h3>Quadratische Gleichungen</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Reflektieren/Bewerten"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-1.png" alt="" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 bloom-2">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa">
							<h3>Einstieg in die Bildbearbeitung</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Anwenden/Gestalten"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-2.png" alt="" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-1">
							<h3>Vocabulary work with google phrase search</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Reflektieren/Bewerten"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-1.png" alt="" /></div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="http://eeducation.gtn-solutions.com/index.php?id=77">
						<div class="eedetapa bloom-3">
							<h3>Spielerische Einführung ins Programmieren</h3>
							<div class="eedetapa-subject">AIM, IOM, AINF
								<br />Schulstufe: 9</div>
							<div class="eedetapa-bloom" data-toggle="tooltip" data-placement="left" title="Wiedergeben/Verstehen"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-3.png" alt="Verstehen" title="Verstehen" /></div>
						</div>
					</a>
				</div>


			</div>
			
			<div class="page-navigation">
				<ul class="f3-widget-paginator">
					<li class="current">1</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li class="last next">
						<a href="#"> Weiter </a>
					</li>
				</ul>
			</div>
			
			<!-- #### / Template eTapas #### -->
				</div>
			
			</div>
		</div><!--/.fluid-container-->	
	</div>

</div><!-- /wrapper -->

<!--TYPO3SEARCH_end-->
</f:section>