<f:layout name="eEducation" />
	
<f:section name="content">
<!--TYPO3SEARCH_begin-->

<div class="headerimg">
	<f:format.raw>{content_10}</f:format.raw>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
				
				<!-- eTapas Detail Template -->
				
				<div class="etapdetail">
				
					<h2 class="bloom-3">[kurzbezeichnung] Erstellung und Präsentation von Collagen und Webseiten <div class="eedetapadet-bloom" data-toggle="tooltip" data-placement="left" title="Wiedergeben/Verstehen"><img src="fileadmin/eEducation2016/Resources/Public/Images/bloom-3.png" alt="Verstehen" title="Verstehen" /></div></h2>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Downloads</b>
						</div>
						<div class="col-xs-9">
							<a href="">[file] Einstieg_in_die_Bildbearbeitung_1434706801.docx</a>
							<br />
							<a href="">[file] Einstieg_Bildbearbeitung_Angabe-und_Loesungsdateien.zip</a>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Fächer</b>
						</div>
						<div class="col-xs-9">
							[faecher] AIM bzw. OMAI
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Schulstufe</b>
						</div>
						<div class="col-xs-9">
							[schulstufe] 9
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Erstellt von Schule</b>
						</div>
						<div class="col-xs-9">
							[erstelltvonschule] PANNONEUM Neusiedl am See
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Erprobt von Schule</b>
						</div>
						<div class="col-xs-9">
							[erproptvonschule] PANNONEUM Neusiedl am See
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Vorkenntnisse u. motivationaler Einstieg</b> 
						</div>
						<div class="col-xs-9">
							[vorkenntnisse] Was muss man wissen, um Fotos von Handy bzw. Fotoapparat in Dokumenten weiterzuverarbeiten, auf Druckern auszudrucken oder im Web veröffentlichen zu können.
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>technische Voraussetzungen</b> 
						</div>
						<div class="col-xs-9">
							[technischevoraussetzungen] PC oder Laptop, GIMP, Photoshop, Picasa, Paint.Net zumindest am Lehrergerät installiert, Internetzugang
						</div>
					</div>
				
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Handlungsdimension</b><br />(Bloomsche Handlungsebenen)
						</div>
						<div class="col-xs-9">
							[handlungsdimensionen] Anwenden/Gestalten
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>relevante Deskriptoren</b>
						</div>
						<div class="col-xs-9">
							[relevantedeskriptoren] Humanberufliche Schulen >  WIRTSCHAFTLICHE BERUFE (HL) >  HLW 8 Informationstechnologien: - HLW 8.1 Ich kann mit Office-, Publishing- bzw. Bildbearbeitungsprogrammen arbeiten und digitale Präsentationen sowie Drucksorten entwerfen und gestalten.
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Zeitbedarf </b>
						</div>
						<div class="col-xs-9">
							[zeitbedarf] 01h 30min
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Anmerkungen</b>
						</div>
						<div class="col-xs-9">
							[message] PC, Internetzugang, Moodle-(oder LMS-)Zugang
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 etapdetlabel">
							<b>Lizenzierung</b>
						</div>
						<div class="col-xs-9">
							[lizenstype] Creative Commons cc-by
						</div>
					</div>
				
				</div>
				
				<div class="news-backlink-wrap">
					<a class="btn btn-default btn-eeducation btn-sm btn-green" href="#"> Zurück </a>
				</div>
				
				<!-- / eTapas Detail Template -->
		</div>
	
	</div>
</div><!--/.fluid-container-->	



<!--TYPO3SEARCH_end-->
</f:section>