

<div class="newsbar-out">
    <div class="newsbar container-fluid ctn-newsfilter">
        <div class="row">
            <div class="col-xs-9 newsbar-search">
                <!-- <form class="form-inline">
                    <button type="submit" class="btn btn-default btn-lg btn-searchbutton"><i class="icon ion-ios-search-strong"></i></button>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Suche" placeholder="Suche">
                    </div>
                </form>  -->
            </div>
            <div class="col-xs-3 newsbar-filter">
                <a href="#menu-toggle" id="menu-toggle"><i class="icon ion-ios-settings-strong"></i> <span class="newsbar-filtertxt">Filter</span></a>
            </div>
        </div>
    </div>
</div>